form {
  margin: 20px;
  display: flex;
  flex-direction: column;
}

* {
  margin: 0;
  margin: 0;
  box-sizing: border-box;
}

.cv-name {
  text-align: center;
}

.cv-contactinfo {
  display: flex;
  justify-content: space-around;
}
